.navBar-custom {
  background-color: #722620;
  height: 74px;
  overflow: hidden;
  opacity: 0.6;
  box-shadow: 5px 5px 25px 0px rgb(0 0 0 / 10%);
}

.navBar-link {
  font-weight: bold;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  height: 74px;
  text-decoration: none;
  color: burlywood;
}

.nav-container {
  height: 74px;
  margin-right: 25px;
  display: flex;
  justify-content: space-between;
}

.nav-element {
  display: flex;
  justify-content: flex-end;
}

.navBar-logo {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navBar-links {
  font-size: 20px;
}

.navBar-text {
  padding-top: 20px;
}

.navBar-menu {
  display: none;
  height: 100%;
  align-items: flex-end;
}

.overlay-content {
  display: none;
}

.navBar-menu-bar1,
.navBar-menu-bar2,
.navBar-menu-bar3 {
  background-color: #111;
  width: 30px;
  height: 3px;
  margin-bottom: 6px;
  transition: all 0.4s linear;
}

div[class^="open header-module--navBar-menu-bar1"] {
  -webkit-transform: rotate(-45deg) translate(-1px, 12px);
  transform: rotate(-45deg) translate(-1px, 12px);
}

div[class^="open header-module--navBar-menu-bar2"] {
  opacity: 0;
}

div[class^="open header-module--overlay-content"] {
  display: block;
}

div[class^="open header-module--navBar-menu-bar3"] {
  -webkit-transform: rotate(45deg) translate(0px, -12px);
  transform: rotate(45deg) translate(0px, -12px);
}

.navBar-overlay {
  height: 0;
  z-index: 1;
}
div[class^="open header-module--navBar-overlay"] {
  height: 300px;
  width: 100%;
  background-color: #722620;
  opacity: 0.6;
  display: -ms-grid;
  display: grid;
  position: absolute;
  text-align: center;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

@media only screen and (max-width: 768px) {
  .navBar-links {
    display: none;
  }
  .navBar-menu {
    display: flex;
    height: 100%;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
  }
}
