.greetings-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  /* width: 100%; */
}

.greetings-container h1 {
  text-align: center;
}

.display-text {
  font-size: 32px;
}