.icon-section {
  justify-content: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.greetings-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  /* width: 100%; */
}

.greetings-container h1 {
  /* white-space: nowrap;
  margin: 0 auto;
  border-right: 0.15em solid orange;
  letter-spacing: 0.15em;
  position: absolute; */
  text-align: center;
  /* text-align: center;
  -webkit-animation: typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; */
}
/* @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
} */
.svg-leet-code {
  position: absolute;
  fill: #722620;
  top: 40%;
  margin-left: 30px;
  width: 64px;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 627px) and (min-width: 438px) {
  .svg-leet-code {
    width: 48px;
    margin-left: 25px;
  }
}

@media only screen and (max-width: 437px) and (min-width: 331px) {
  .svg-leet-code {
    width: 32px;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 330px) {
  .svg-leet-code {
    width: 16px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 627px) {
  .icon-section {
    gap: 10px;
  }
}
